<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>html</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="stylesheet" type="text/css" href="/style.css">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
            
    </head>

    <body>

    	<header>
			<ul id="dropdown1" class="dropdown-content">
				<li><a class="indigo-text" href="/profil">Mon profil</a></li>
				<li><a class="indigo-text" href="/userApplications">Mes candidatures</a></li>
			</ul>
			<nav>
				<div class="nav-wrapper indigo">
					<a href="/home" class="brand-logo">
					<img class="logo" src="/img/logo-job-board.png">
					</a>
					<ul class="right">
						<li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Gérer mon compte</a></li>
                        <li><a href="/home">Toutes les annonces</a></li>
                        <li><a href="/logout">Déconnexion</a></li>
					</ul>
				</div>
			</nav>
		</header>


		<div class="class container">
