<%- include('../partials/header_admin'); %>

<main>
<h2 class="titre">Ajouter une entreprise</h2>
<div class="row align-center">
  <form action="/companies/add_companies" method="post">
    <div>
      <label for="Name">Nom de l'entreprise</label>
      <input required name="Name"/>
    </div>
      
    <div>
      <label for="Address">Adresse</label>
      <input required name="Address"/>
    </div>
      
    <div>
        <label for="CP">Code Postal</label>
        <input required name="CP"/>
    </div>

    <div>
      <label for="City">Ville</label>
      <input required name="City"/>
    </div>

    <div>
      <label for="Description">Description</label>
      <input required name="Description"/>
    </div>

    <div>
      <button class="btn indigo"><a class="white-text" href="/companies">Annuler</a></button>
      <input class="btn indigo" type="submit" value="Ajouter"/>
    </div>
  </form>
</div>
</main>

<%- include('../partials/footer_admin') %>
